body {
  font-family: 'Courier';
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerContainer {
  display: flex;
}

#addCard {
  background: none;
  border: none;
  font-size: 40px;
}

#board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 80vw;
  height: 70vh;
  background-color: rgb(30, 30, 30);
}

.row {
  display: flex;
  width: 100%;
  height: 85px;  
  background-color: rgb(56, 56, 56);
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100px;
  background-color: green;  
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
  width: 100px;
  background-color: white;
}

#bank {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  height: 300px;
  background-color: rgb(30, 30, 30);
  margin-bottom: 20px;
}